@{
    ViewData["Title"] = "Home Page";
}

<style>
    .home-bg {
        background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiXOG-yZ3klRiG1Xiiy-4VpbPoosUuOVRXx7dM039m7nxgXd09f1EQ1u6XKNg_-cDEKzuARE11U_7CfjSGjf0llRXCHXUfsTSphvbBuupabiGMaGYIb66MIux9VmCET9hY4fIqyDA3KlYQ/s1600/La+marca+del+producto+Definici%25C3%25B3n%252C+clasificaci%25C3%25B3n%252C+c%25C3%25B3mo+nacen+y+m%25C3%25A1s.jpg');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .home-content {
        max-width: 600px;
    }

        .home-content h1 {
            font-size: 3.5rem;
            margin-bottom: 20px;
        }

        .home-content p {
            font-size: 1.25rem;
            margin-bottom: 40px;
        }

        .home-content a {
            color: white;
            text-decoration: underline;
        }
</style>

<div class="home-bg">
    <div class="home-content">

    </div>
</div>

